/* Import Bootstrap and Bootstrap Icons */
@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");



header {
  width: 100vw;
}



.card {
  width: 18rem;

  .card-img-top {
    height: 25rem;
    object-fit: cover;
    object-position: top;
  }
}

#review_form_section {
  width: 100vw;
  background-color: #01012bbb;

  #review_form_container {
    padding: 1rem;
    max-width: 800px;

    #review_form {
      max-width: 85vw;
      margin: 0 auto;

      #voteLabel,
      #usernameLabel,
      #reviewLabel {
        color: #ffc107;
      }
      #voteLabel {
        width: 90%;
      }

      #username_field,
      #review_field {
        height: 2rem;
      }

      #review_vote_field {
        margin-bottom: 0.5rem;

        #voteValue {
          font-weight: bold;
          font-size: 1.5rem;
        }

      }
    }
  }
}



.reviews_container {
  width: 100vw;

  .card {
    width: 100%;

    .card-header span {
      font-weight: bold;
    }
  }
}